<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<style>
	body{font-size: 16px;width: 400px; height: 300px;padding: 10px;font-family: 'Microsoft Yahei'; }
	#status {color:red;}
	</style>
	<title></title>
</head>
<body>
<nav id="navbar">
<a href="index.html">首页</a>
<a href="hotkey.html">快捷键设置</a>
<a href="workshift.html">选班设置</a>
</nav>
	<div id="app" tabindex="-1">
<div id="options"></div>
<div>
<button id="save">保存</button>
</div>
	<div id="status" tabindex="-1"></div>
</div>
<div id="footer">
版权所有 杨永全 2020</div>
	<script src="./../js/workshift-options.min.js"></script>
</body>
</html>