<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<style>
	body{font-size: 16px;width: 400px; height: 300px;padding: 10px;font-family: 'Microsoft Yahei'; }
	#status {color:red;}
	</style>
	<title></title>
</head>
<body>
<nav id="navbar">
<a href="index.html">首页</a>
<a href="workshift.html">选班设置</a>
</nav>
	<div id="app" tabindex="-1">
<div id="options">
<p tabindex="0">
亲亲，您好！我是杨永全，欢迎您使用我写的阿里巴巴云客服工作台无障碍优化系列插件。
这可能是有史以来最好用的阿里巴巴云客服工作台插件了。
</p>
<p tabindex="0">
前几天，我给我老婆的工作台装了这款插件。
结果，我老婆说用这个插件上班，工作效率提高了一倍还多。她还说我写的插件就是好用。……
所以，我一高兴，就决定公开发出来，让需要的朋友也有机会用上。
</p>
<p tabindex="0">
要先说明的是，这款插件是收费的。如果您要使用，请先联系我购买。普通版199元，全功能版299元。
</p>
<p tabindex="0">
我的联系方式： qq 115928478 微信 13573578733
</p>
<p tabindex="0">
下面简单介绍一下插件实现的功能
1 对工作台进行了大幅度的优化，主要包括：
对没有文本信息的图片按钮或者链接添加了文本提示；
对转交、结束会话等对话框进行了自动聚焦处理；
对一些重要的操作加上了快捷键定位。
关于快捷键，默认使用了黑乐插件的快捷键，这最大程度的兼容了用户使用习惯。同时 在插件设置里提供了快捷键设置，实现了快捷键的用户自定义。
针对查询用户信息和订单信息等高频操作，提供了一个自动粘贴功能，实现了用户名和订单号的自动输入。
</p>
<p tabindex="0">
2 对学习和考试系统进行了优化，主要有：
对于视频课程，支持空格播放和暂停，shift加上下光标调节音量，shift加左右光标快进快退。
对于考试系统，支持tab键切换选项，按空格键进行选择，同时支持alt加x下一题，alt加z上一题的快捷切换，并且自动读出题干。
对于淘宝问卷也同样支持tab键切换选项，空格键选择。
</p>
<p tabindex="0">
主要快捷键说明如下（您也可以自己在扩展选项的快捷键设置里进行修改）：

alt加1  定位到消息输入框
alt加2 定位到搜索框，包括方寸或者客服助手
alt加3  激活方寸
alt加x  定位到解决方案
alt加v  自动填写用户名或订单号
alt加q  定位到第一个会员
alt加z  定位到最新消息
alt加c  定位到结束绘画按钮
</p>
<p tabindex="0">
最后是免责申明。
您使用这个插件完全处于您的自愿行为。
您使用这个插件出现任何后果，我不承担任何责任。包括但不限于被质检，被扣分，被任何处理。
</p>
</div>
<div>
<button id="save">保存</button>
</div>
<div id="footer">版权所有 杨永全 2020</div>
</div>
	<script src="./../js/options.min.js"></script>
</body>
</html>